/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.last_intro_image {
		width: 100%;
		height: 110px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .center_wrapp{
        padding-top: 60px;
    }
    .center_wrapp_home{
        padding-top: 40px;
    }
    .home_wrapp{
        display: none;
    }
	.last_intro_image {
		width: 100%;
		height: 110px;
	}
	.logo_link{
		color: red;
	}
    /*.fa-angle-down{*/
        /*display: inline-block;*/
    /*}*/
	.menu_open {
        display: none;
		/*width: 100%;*/
		/*height: auto;*/
		/*background-color: #f7f7f7;*/
		/*top: 60px;*/
		/*position: absolute;*/
		/*margin: 0;*/
		/*right: 0;*/
		/*text-align: center;*/
	}
	.all_stuff{
		margin-bottom: 25px;
	}
	.stuff_menu{
		border-bottom: 1px solid rgba(255, 255, 255, 0.49);
	}
	a.stuff_menu{
		color: #000;
	}
	.hr_line{
		width: 330px;
	}
	.user_panel{
		padding-left: 15px;
	}
	.list_of_recipes{
		background: #fff;
		padding: 10px;
	}
	.images_profile_link{
		width: 60px;
		height: 60px;
	}
	#img_circle{
		margin-bottom: 25px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .staty{
        margin: -85px 25px;
    }
	.last_intro_image {
		width: 100%;
        height: 250px;
	}
    #justify_nav{
        color: #fff;
        line-height: 60px;
        font-size: 13px;
        display: inline-block;
    }
    .fa-circle{
        display: none;
    }
    .user_panel_a_link{
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        display: inline-block;
        line-height: 60px;
    }
    .user_panel_a{
        display: none;
    }
	.last_art_body{
		margin-bottom: 10px;
	}
	#block{
		margin-top: 75px;
	}
	.list_of_recipes{
		background: #fff;
		padding: 10px;
	}
	.images_profile_link{
		width: 50px;
		height: 50px;
	}
	.block_left_answer,.block_right_answer{
		float: none;
		height: auto;
	}
	.wrapp_answer{
		position: relative;
		height: auto;
	}
	.user_name_of_topic {
        height: auto;
        float: left;
	}
	.block_middle_profile{
		margin-left: 10px;
		/*float: none;*/
		float: left;
	}
	.block_middle_profile_admin{
		margin-left: 55px;
		float: none;
	}
	.date_full_art {
		display: inline-block;
		font-size: 12px;
		margin: 0;
	}
	.block_right_prifile {
		float: right;
		margin: 0;
		font-size: 13px;
		color: #9c9c9c;
	}
    .menu_open{
        -webkit-box-shadow: -1px 9px 30px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 9px 30px -10px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 9px 30px -10px rgba(0, 0, 0, 0.75);
    }
    .ava_block{
        text-align: center;
        margin-bottom: 20px;
        float: left;
        width: 100%;
    }
    .col-md8 {
        /* width: 70%; */
        /* float: right; */
        width: 100%;
        padding: 5px;
        background: rgba(141, 46, 46, 0.24);
    }


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.last_intro_image {
		width: 100%;
		height: auto;
	}
    .window{
        width: 300px;
    }
	.settings_wrapper {
		width: 385px;
	}
	.reg_forms {
		padding: 0;
	}
	.registration_link{
		/*display: none;*/
	}
    .go_to_1055_header{
        width: 340px;
    }
    .h1_go_1055{
        color: orange;
        font-size: 18px;
    }
    .go_to_1055_wrapp{
        width: 340px;
        margin: 0 auto;
    }
    .cuckoo_pot{
        width: 340px;
        text-align: center;
        float: none;
    }
    .cuckoo_text{
        width: 340px;
        float: none;
    }
    #link_go_to_not {
        display: none;
    }
    #link_go_to_forum {
        display: none;
    }
    .cuckoo_text{
        font-size: 12px;
    }
    section#block_cuckoo_not {
        height: 100vh;
        padding-top: 40px;
    }
    .h1_go_not {
        font-size: 18px;
    }
    .h1_go_forum {
        font-size: 18px;
    }
    .link_article {
        width: 100%;
        height: 100%;
    }
    .img_block_link {
        width: 100%;
        height: 100%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.last_intro_image {
		width: 100%;
		height: auto;
	}
    .window{
        width: 300px;
    }
	.middle_content_comm{
		text-align: left;
		overflow: hidden;
		margin: 0;
		min-height: 90px;
	}
	.count_watches {
		float: right;
		color: #9a9a9a;
		font-size: 13px;
		font-weight: bold;
	}
	.reg_forms {
		padding: 0;
	}
	.hr_line {
		width: 275px;
	}
	.registration_link{
		display: none;
	}
    section#block_cuckoo_1055{
        padding-top: 90px;
    }
    .go_to_1055_header{
        width: 280px;
    }
    .h1_go_1055{
        color: orange;
        font-size: 18px;
    }
    .go_to_1055_wrapp{
        /*border: 1px solid #7c4d00;*/
        width: 280px;
        margin: 0 auto;
    }
    .h1_go_not {
        font-size: 18px;
    }
    .h1_go_forum {
        font-size: 18px;
    }
    .cuckoo_pot{
        width: 280px;
        text-align: center;
        /*background: #ccc;*/
        float: none;
    }
    .cuckoo_text{
        width: 280px;
        /*background: #e8e8e8;*/
        float: none;
    }
}

@media only screen and (max-width : 375px) {
	.ava{
		float: left;
	}
    .window{
        width: 300px;
    }
	.col_7_media{
		padding:0 !important;
	}
	.theme_topic_text{
        padding-left: 20px;
        color: #000;
	}
	.middle_content_comm{
		text-align: left;
		overflow: hidden;
		margin: 0;
		min-height: 90px;
	}
	.count_watches {
		float: right;
		color: #9a9a9a;
		font-size: 13px;
		font-weight: bold;
	}
	.settings_wrapper {
		width: 340px;
	}
	.reg_forms {
		padding: 0;
	}
	a.registration_link{
		display: none;
	}
    section#block_cuckoo_1055{
        padding-top: 90px;
    }
    .go_to_1055_header{
        width: 280px;
    }
    .h1_go_1055{
        color: orange;
        font-size: 18px;
    }
    .go_to_1055_wrapp{
        /*border: 1px solid #7c4d00;*/
        width: 280px;
        margin: 0 auto;
    }
    .cuckoo_pot{
        width: 280px;
        text-align: center;
        /*background: #ccc;*/
        float: none;
    }
    .cuckoo_text{
        width: 280px;
        /*background: #e8e8e8;*/
        float: none;
    }
}
@media only screen and (max-width : 320px) {
	.settings_wrapper {
		width: 295px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width : 320px){

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.top_links {
		display: inline-block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
    .last_intro_image {
        border: 1px solid #e9e7e7;
        width: 100%;
        height: 150px;
    }

}
