
RewriteEngine On
#Options +FollwSymlinks
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^home?$ index.php
RewriteRule ^registration?$ reg.php
RewriteRule ^forum?$ forum.php
RewriteRule ^allusers?$ all_users.php
RewriteRule ^logout?$ /blocks/logout.php
RewriteRule ^remindpass?$ remind-pass.php
RewriteRule ^category/([0-9]+)/?$ category.php?id=$1 [L]
RewriteRule ^article/([0-9]+)/?$ full.php?id=$1 [L]
RewriteRule ^profile/([0-9]+)/?$ profile.php?id=$1 [L]
RewriteRule ^addarticle/([0-9]+)/?$ add_article.php?id=$1 [L]
RewriteRule ^editart/([0-9]+)/([0-9]+) edit_article.php?id=$1&user=$2 [L]
RewriteRule ^preview/([0-9]+)/([0-9]+) link.php?id=$1&page=$2 [L]
